DATABASE_URL=postgresql://neondb_owner:npg_E6BMluf3abTP@ep-noisy-union-ac6lps6p-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=cea-betel-secret-key-2025
NODE_ENV=development